{% load static %}
{% load i18n %}
{% include 'inc/languages.html' %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-size: 13px"><i class="fa fa-calendar">&nbsp;</i><span
                id="week-day"></span>&nbsp;<span id="date"></span>&nbsp;<span
                id="month"></span>&nbsp;<span id="year2"></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2"
                aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav2">
            <ul class="navbar-nav ml-auto">
                <!-- Add your social media icons here -->
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign-up' %}"><i class="fas fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign-in' %}"><i class="fas fa-sign-out"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static '/assets/images/hazar_travel.png' %}" alt="" width='50'
                                              height='50'></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav1"
                aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'cities_hotels' %}">{% trans 'Cities & Hotels' %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'tours' %}">{% trans 'Tours' %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'explore_more' %}">{% trans 'Explore More' %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">{% trans 'About us' %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'weekly_forecast' %}">{% trans 'Prognosis' %}</a></li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function updateDate() {
        let date2 = new Date();
        let day = date2.getDay();
        let month = date2.getMonth() + 1;

        let real_day, real_month;

        // Translate day
        switch (day) {
            case 1:
                real_day = '{% trans "Monday" %}';
                break;
            case 2:
                real_day = '{% trans "Tuesday" %}';
                break;
            case 3:
                real_day = '{% trans "Wednesday" %}';
                break;
            case 4:
                real_day = '{% trans "Thursday" %}';
                break;
            case 5:
                real_day = '{% trans "Friday" %}';
                break;
            case 6:
                real_day = '{% trans "Saturday" %}';
                break;
            case 7:
                real_day = '{% trans "Sunday" %}';
                break;
        }

        // Translate month
        switch (month) {
            case 1:
                real_month = '{% trans "January" %}';
                break;
            case 2:
                real_month = '{% trans "February" %}';
                break;
            case 3:
                real_month = '{% trans "March" %}';
                break;
            case 4:
                real_month = '{% trans "April" %}';
                break;
            case 5:
                real_month = '{% trans "May" %}';
                break;
            case 6:
                real_month = '{% trans "June" %}';
                break;
            case 7:
                real_month = '{% trans "July" %}';
                break;
            case 8:
                real_month = '{% trans "August" %}';
                break;
            case 9:
                real_month = '{% trans "September" %}';
                break;
            case 10:
                real_month = '{% trans "October" %}';
                break;
            case 11:
                real_month = '{% trans "November" %}';
                break;
            case 12:
                real_month = '{% trans "December" %}';
                break;
        }

        let date3 = date2.getDate();
        let year3 = date2.getFullYear();

        // Update HTML with translated strings
        document.getElementById('week-day').innerHTML = real_day;
        document.getElementById('month').innerHTML = real_month;
        document.getElementById('date').innerHTML = date3;
        document.getElementById('year2').innerHTML = year3;
    }

    // Call the function
    updateDate();
</script>