{% load i18n %}
<center>
    <div class="border-container">
        <div class="section-heading">
            <h3>{% trans 'Did you know about that?' %}</h3>
        </div>
        <div class="sl-cont">
            <div class="sl-text">
                <div class="sl">{% trans 'Turkmens are the only people in Central Asia who do not consume horse meat, as this animal is sacred to them' %}</div>
                <div class="sl">{% trans 'The most spectacular and graceful horses in the world are Akhal-Teke horses - the pride and national treasure of Turkmenistan' %}</div>
                <div class="sl">{% trans 'Akhalteke horses are unique, a reference riding horse, bred about 5 thousand years ago, is a thoroughbred, as it has not been crossed with other breeds' %}</div>
                <div class="sl">{% trans 'Turkmen brides have the largest number of traditional silver jewelry in the world' %}</div>
                <div class="sl">{% trans 'Exquisite Turkmen carpets have repeatedly received numerous prestigious awards at international fairs and exhibitions in Paris and Montreal, Leipzig and Brussels.' %}</div>
                <div class="sl">{% trans 'Turkmen carpet makers tie up to 1,500,000 knots on each square meter of carpet' %}</div>
                <div class="sl">{% trans 'Ashgabat has the only Museum of Turkmen Carpet in the world' %}</div>
                <div class="sl">{% trans "In 2010, a giant carpet was created in Turkmenistan - its area is 301 square meters and it weighs 1 ton 200 kilograms. The masterpiece was included in the Guinness Book of Records as the worlds largest handmade carpet" %}</div>
                <div class="sl">{% trans 'The salinity of Kara-Bogaz-Gol is completely different from the salinity of the Caspian Sea. Kara-Bogaz-Gol is salty mainly due to its high content of glauber salt (mirabilite). Its salinity is so high that it does not freeze even at water temperature of -10 degrees Celsius' %}</div>
                <div class="sl">{% trans 'Kutlug-Timur Minaret located in Kunya Urgench is the tallest minaret in Central Asia - its height is 67 meters' %}</div>
                <div class="sl">{% trans 'Turkmenistan is one of the safest states located in Asia.' %}</div>
                <div class="sl">{% trans 'Ashgabat translates as "City of Love"' %}</div>
                <div class="sl">{% trans 'Turkmen melons are considered the juiciest and most delicious in the world' %}</div>
                <div class="sl">{% trans 'Asteroid number 2584 is named after Turkmenistan' %}</div>
                <div class="sl">{% trans 'Turkmens are the ancestors of all Turkic-speaking tribes' %}</div>
                <div class="sl">{% trans 'Turkmens are descendants of the ancient Iranian-speaking Massagetes, mentioned by the ancient Greek historian Herodotus in the 6th century BC' %}</div>
                <div class="sl">{% trans 'Alexander the Great and Marshal Zhukov have in common - a horse. "Bucephalus" of Macedon and "Arab" of Zhukov were Turkmen Akhalteke horses' %}</div>
                <div class="sl">{% trans 'The Alabai is one of the oldest breeds on earth, which has survived to our days, preserving its appearance and amazing character' %}</div>
            </div>

            <!-- Navigation buttons -->
            <button class="sl-kn prev" onclick="prevSlide()">&#10094;</button>
            <button class="sl-kn next" onclick="nextSlide()">&#10095;</button>
        </div>
    </div>
</center>