{% load static %}
{% load i18n %}
<div id="language-changer" class="sticky-circle btn btn-primary" style="z-index: 1003">
        <form action="{% url 'set_language' %}" method="post" class="language-selector">
            {% csrf_token %}
            {% get_current_language as current_language %}
            {{ current_language|slice:3 }}
    <div id="language-options" class="dropdown-menu">
        {% get_available_languages as available_languages %}
        {% for lang_code, lang_name in available_languages %}
            <button type="submit" name="language" value="{{ lang_code }}" class="dropdown-item">
                {% if lang_name == 'Simplified Chinese' %}
                    {% trans 'Chi' %}
                {% else %}
                    {{ lang_name|slice:3 }}
                {% endif %}
            </button>
        {% endfor %}
    </div>
    </form>
</div>
